body {
    background-color:  #FBBA00;
}

.jumbotron {
    background-color: #FBBA00;
    color: #ffffff;
    text-align: left;
  }
  
  h1 {
      font-family: 'Ranchers', cursive;
      display: inline;
      padding-bottom: 20px;
  }

  h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px; 
  }
  
  p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding: 5px 5px;
  }

  #burger_pic {
    float: right;
    }

    .ready-side {
        background-color: #26A743;
        color: #ffffff;
    }

    .devoured-side {
        background-color: #DC3643;
        color: #ffffff;
    }

    #ready {
        display: inline;
    }